*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containt{
    margin: 0 auto;
    width: 900px;
    border: 1px solid gray;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}
p{
    text-align: justify;
    padding: 7px;
}
.head{
    background-color: maroon;
    /* grid-column: 1/-1; */
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* place-items: center; */
}
.logo{

}
.logo img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
    padding: 5px;
}
.manu{
    /* margin-top: 30px;
    margin-left: 20px; */
    display: grid;
    place-items: center;
}
.manu nav ul li{
    list-style: none;
    display: inline-block;
 
}
.manu nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: larger;
    font-weight: bold;
}
.manu nav ul li a:hover{
    background-color: rgb(165, 154, 3);
    color: brown;
    border-radius: 5px;
    cursor:help;
    font-size:large;
}


.box1{
    background-color: green;
    grid-row: 2/5;
}
.box2{
    background-color: green;
    grid-row: 2/5;
}
.box3{
    background-color: green;
    grid-row: 2/5;
}
.box4{
    background-color: green;
    grid-row: 2/5;
}
.slider{
    background-color: rgb(35, 136, 5);
    /* grid-row: 2/4; */
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column: 5/6;
}
.main{
    background-color: gray;
    grid-column: 1/5;
}
.footer{
    background-color: brown;
    grid-column: 1/-1;
}